{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
  <div class="row">
  <style>
      .num {
          color: blue
      }
  </style>
  <h1>Привет, я автор!</h1>
  {% now 'z' as day %}
  <p>
    Меня зовут - Владислав, мне <span class="num">20</span> лет, <span
    class="num">{{ day|add:"-20" }}</span> дней назад я решил
    заняться изучением программирования. И начал я это с Python. В начале он
    дался мне довольно сложно, но через какое-то время я смог покорить его.
    Сама идея пойти в WEB направление пришла ко мне не сама. Один знакомый
    предложил мне пойти по этому пути. Подумав над этим, я все же решил стать
    Python разработчиком. Со смехом вспоминаю свои первые попытки изучить
    программирование... Когда я не понимал как работают функции и как их
    использовать, когда каждый раз ловил ошибки при запуске кода, когда впервые
    встретился с термином ООП. Сложные однако были времена... Но преодолев их,
    я начал чувствовать в себе уверенность, что эти страдания были не зря. При
    встрече с ошибками, я не бросал руки и перестал пускать слёзы, а шел
    гуглить решение этих ошибок.
  </p>
  <p>
    За это время я успел написать <span class="num">8</span> проектов на Django
    и <span class="num">1</span> на DRF. Если сравнивать их с этим проектом, то
    они во многом уступают ему. Но все равно я по-прежнему горжусь ими. В
    некоторых из них отсутствует нормальная верстка, нарушено правило DRY, не
    соблюдён формат PEP-8 и много другого. В моих последующих проектах такого
    точно не будет. Мне понравилось писать красиво и правильно.
  </p>
  <div class="col-lg-6 col-md-6">
    <h4>Мои контактные данные:</h4>
    <img src="{% static 'img/about/GitIcon.png' %}" alt="" width="20px">
    <a href="https://github.com/Dazzy132">Dazzy132</a>
    <br>
    <img src="{% static 'img/about/Telegram.png' %}" alt="" width="20px">
    <a href="https://t.me/Dazzy132">Dazzy132</a>
    <br>
    <img src="{% static 'img/about/Discord.png' %}" alt="" width="20px">
    Dazzy132#2693
  </div>
  <div class="col-lg-6 col-md-6">
    <h4>Мое рабочее место</h4>
    <img src="{% static 'img/about/work_place.jpg' %}"
         alt="" width="600px" height="400px">
  </div>
</div>
{% endblock %}