{% load thumbnail %}

<article>

  <ul>
    <li>Автор:
      {% if post.author.get_full_name %}
        {{ post.author.get_full_name }}
      {% else %}
        {{ post.author }}
      {% endif %}
    </li>
    <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
  </ul>

  {# https://mob25.com/django-dobavlenie-kartinok-k-postam/ #}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}" alt="Картинка не загрузилась">
  {% endthumbnail %}

  <p>{{ post.text }}</p>
  <a href="{{ post.get_absolute_url }}">подробная информация </a>
</article>


{% if not group and post.group %}
  <a href="{{ post.group.get_absolute_url }}">все записи группы</a>
{% endif %}

{% if not forloop.last %}<hr>{% endif %}
